.topdiv{width:100%;height:100px}
.bottomdiv{width:100%px;height:500px;background:#eeeeee}
.toptitlediv{width:100px;height:35px;margin-left:70px;margin-top:10px}
.welcomediv{width:350px;height:25px;margin-left:100px;margin-top:20px;position:absolute}
.login{width:330px;height:350px;background:#ffffff;margin-left:850px;margin-top:180px;position:absolute}
.denglu{width:235px;height:45px;margin-left:15px;margin-top:5px;}
.mima{width:230px;height:42px;margin-left:15px;margin-top:15px;}
.butten{width:230px;height:42px;margin-left:15px;margin-top:15px}
